# Git
.git
.gitignore
.gitattributes

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Dependencies
**/packages/
**/node_modules/

# Environment files
*.env
.env.*

# Docker
.docker
Dockerfile*
docker-compose*
